@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F1FAEE;
}

.app-wrapper {
  display:grid;
  grid-template-columns: 1fr 8fr;
  margin-left:5%;
  margin-right:5%;
}

.app-wrapper-content {
  
}

.preloader { 
  width:200px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN FORM */
.login_container form {
  display: grid;
  
}
.login_container form span {
  color:red;
}
.invalid_input {
  color:red;
}