/* NAVBAR */
.nav {
    padding:5px;
    grid-column: 1/2;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    align-items: end;
    background-color: #F1FAEE;
  }
  .nav_item {
    transition: 150ms;
  }
  
  .nav_item:hover {
    cursor: pointer;
    color: rgb(26, 131, 154);
  }

  .nav_item.active {
    color:rgb(188, 165, 31);
    box-shadow: 3px 3px rgb(144, 247, 196);
    transition: 150ms;
  }
  .nav_item.active:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px rgb(182, 242, 220);
  }